<%- include("header.ejs") %>

<h2>This is about page</h2>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, ullam ea
    molestias quidem amet atque eos voluptas eum illum unde nemo ducimus, tempora
    temporibus vitae reprehenderit sint suscipit laboriosam magni!
</p>

<%- include("footer.ejs") %>